/*
 * Page Template
 */

body {
  background: #EDEDED;
  font-family: Verdana, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-size: 12px;
}

table.main {
  background: #F9F9F9;
  border: 1px solid #BCBCBC;
  border-spacing: 0px;
  padding: 0px;
  width: 640px
}

table.panel {
  background: #F9F9F9;
  border: 1px solid #BCBCBC;
  border-spacing: 0px;
  padding: 0px;
}

/*
 * LOGO
 */
 
td.logo {
  background: url("/pictures/logo_server.gif");
  background-repeat:no-repeat;
  border-bottom: 1px solid #BCBCBC;
  border-spacing: 0px;
  padding: 0px;
  height: 75px;
}



/*
 * LOGIN
 */
 
td.login {
  font-size:10px;
  font-weight: normal;
  padding-right: 1em;
  text-align: right;
  text-decoration: none;
}

span.login {
  font-style: italic;
  font-weight: bold;
}

a.login:link {color: #080808; text-decoration:none; }
a.login:visited {color: #080808; text-decoration:none; }
a.login:active {color: #080808; text-decoration:none; }
a.login:hover {color: #080808; text-decoration:none; }
a.login:focus {color: #080808; text-decoration:none; }


/*
 * HEADLINE
 */

p.headline {
  font-size:18px;
  font-weight:bold;
  color: #080808;
  padding-left: 2em;
}

td.headline {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:38px;
  font-weight:bold;
  color: #080808;
  padding-bottom: 	0.5em;
  padding-left: 0.5em;
  padding-top: 1em;
}

a.headline:link {color: #080808; text-decoration:none; }
a.headline:visited {color: #080808; text-decoration:none; }
a.headline:active {color: #080808; text-decoration:none; }
a.headline:hover {color: #080808; text-decoration:none; }
a.headline:focus {color: #080808; text-decoration:none; }



/*
 * MENU
 */

td.menu {
  border-spacing: 0px;
  padding: 0px;
  width: 100%;
}

div.menu {
  position: relative;
  width: 100%;
  height: 26px;
  margin: 0; border: 0; padding: 0;
  background-image: url("/pictures/bg_menu.gif");
}

a.menu {
  display: block; 
  float: left;
  font-family: Verdana, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-size: 12px;
  margin: 0; border: 0; padding: 0;
  line-height: 26px; /* corresponds to 'top' value of .submenu below */
  text-align: center;
  text-decoration:none;
}

a.menu:link {border: 0px; color: #0E0B39; text-decoration:none; }
a.menu:visited {border: 0px; color: #0E0B39; text-decoration:none; }
a.menu:active {border: 0px; color: #0E0B39; text-decoration:none; }
a.menu:hover {border: 0px; background-image: url("/pictures/bg_menu.gif"); color: #0E0B39; text-decoration:none; }
a.menu:focus {border: 0px; color: #0E0B39; text-decoration:none; }

#t1 { width: 75px;  text-decoration:none;}
#t2 { width: 75px;  text-decoration:none;}
#t3 { width: 75px;  text-decoration:none;}
#t4 { width: 75px;  text-decoration:none;}

.submenu {
	position:absolute;
  	z-index: 2;
  	top: 26px; /* corresponds to line-height of a.navbartitle above */
  	padding: 0; margin: 0; 
	width: 200px; /* If adjust this, then adjust width of .submenu below a too */
	color: #0E0B39;
	background-color:  #ECECEC;
	border-left: 1px solid #E0E0E0; /* box around entire sub-menu */
	border-right: 1px solid #E0E0E0; /* box around entire sub-menu */
  	font-family: Verdana, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	font-size: 11px;
}
/* Fix IE formatting quirks. */
* html .submenu { width: 148px; } /* IE needs narrower than width of .submenu above */
/* End */

#edit_submenu { left: 75px; visibility: hidden; }
#reset_submenu { left: 150px; visibility: hidden; }

.submenu a
{
  display: block;
  color: #0E0B39; 
  background-color: #ECECEC;
  width: 180px; /* This should be width of .submenu above minus right-side padding on next line */
  padding: 5px 0px 4px 20px;
  text-decoration: none;
  border-bottom: #E0E0E0 solid 1px; 
  border-top: 0; border-left: 0; border-right: 0;
}


ul { position: relative; display: block; }
li { position: relative; display: block; }

.submenubox { 
  margin: 0; padding: 0; border: 0;
}
.submenubox ul
{
  margin: 0; padding: 0; border: 0;
  list-style-type: none;
}

.submenubox ul li { 
  margin: 0; padding: 0; border: 0;
}

.submenubox ul li a:link { }
.submenubox ul li a:visited { }
.submenubox ul li a:hover
{
  background-color: #F9F9F9;
}

/*
 * CONTENT
 */

td.content {
  background: #F9F9F9;
  border-spacing: 0px;
  padding: 0px;
  width: 100%;
}

td.sidebar-content {
  background: #F9F9F9;
  border-spacing: 0px;
  padding: 0px;
  width: 30%;
}


td.sidebar {
  background: #F9F9F9;
  border-spacing: 0px;
  padding: 0px;
  width: 30%;
}

panel {
  background: #F9F9F9;
  border-spacing: 0px;
  padding: 0px;
  width: 70%;
}


/*
 * FORM
 */

table.form_container {
  border-spacing: 0px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

td.form_container {
  border-spacing: 0px;
  padding: 10px;
  width: 100%;
}

table.form_frame {
  background: #FFFFFF;
  border: 1px solid #A7D7F9;
  border-spacing: 0px;
  padding: 10px;
  width: 100%;
}

td.form_label {
  border-spacing: 0px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 125px;
}

td.form_control {
  border-spacing: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

td.form_message {
  background: #F9E9EE;
  border: 1px solid #D56386;
  border-spacing: 0px;
  color: #F00000;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

td.form_text {
  border-spacing: 0px;
  font-weight: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}



/*
 * FOOTER
 */
 
td.footer {
  font-size:8px;
  font-family: Verdana, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  color: #080808;
  padding-left: 0.3em;
  padding-bottom: 0.6em;
  padding-right: 0.3em;
  padding-top: 0.6em;
  text-align:right;
  width: 100%;
}


/*
 * Exceptions
 */

p.exception_headline {
  font-size:24px;
  font-weight:bold;
  color: #961500;
  padding-left: 2em;
  padding-top: 0.4em;
  padding-bottom: 0.1em;
}

p.exception_text {
  font-size:16px;
  color: #080808;
  padding-left: 3em;
  padding-bottom: 0.4em;
}


/*
 * DATABASE (LISTING)
 */
 
ul.database {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1em;
  margin-top: 1em;
}

li.database {
  background: #FFFFFF;
  color: #2A2A2A;
  display: block;
  font-family: Verdana, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-size:14px;
  font-weight:bold;
  text-decoration: none;
}

a.database {
  background: #FFFFFF;
  border-bottom: 1px solid #F5F5F5;
  border-top: 1px solid #F5F5F5;
  color: #2A2A2A;
  display: block;
  font-family: Verdana, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-size:14px;
  font-weight:bold;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-top: 1em;
  text-decoration: none;
}

a.database:hover {
  background: #FAFAFA;
  border-top: 1px solid #080808;
  border-bottom: 1px solid #080808;
}

a.database:link {color: #2A2A2A; text-decoration:none; }
a.database:visited {color: #2A2A2A; text-decoration:none; }
a.database:active {color: #2A2A2A; text-decoration:none; }
a.database:hover {color: #2A2A2A; text-decoration:none; }
a.database:focus {color: #2A2A2A; text-decoration:none; }
